<div class="item_detail_container textarea comment_container">
    <p><i class="fa-solid fa-comment"></i> &nbsp;<%= comment.content %> 
    <br>
    </p>
    <small class="user_name">

        <% if(locals.user && locals.user.id == comment.user.id){ %>

            <a href="/comments/destroy/<%= comment.id %>" class="delete"><i class="fa-solid fa-trash-can"></i></a>

        <% } %> 
       

        <i class="fa-solid fa-user-pen"></i>
        <%= comment.user.name %> 
    </small>
</div>