<footer>
    <div class="copyright">
        &copy; Sarthak Shukla. All Rights Reserved
    </div>

    <div class="menu_links">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/users/profile">Profile</a>
            </li>
        </ul>
    </div>
</footer>