<link rel="stylesheet" href="/css/home.css">

<!-- <h1>Codeial | <%= title %></h1> -->

<div class="feed_container">
    
    <section class="feed_posts">
        
        <% if (locals.user) { %>
            <form action="/posts/create" id="new-post-form" method="post">
                <textarea name="content" class="textarea" cols="30" rows="3" placeholder="Hey!!... What's on your mind <% if (locals.user) { %><%= user.name %> 
                <% } %>" required ></textarea>
                <input type="submit" value="Post" class="post-btn">
            </form>

        <% } %>

        
    </section>
    <br>
    
    <h2 class="feed_head"> <i class="fa-solid fa-newspaper"></i> Feeds Area</h1>
<!-- looping post items  -->
    <% for(post of posts) { %>

        <%- include('_post') -%> 
    
    <% } %>
</div>