<link rel="stylesheet" href="/css/user_profile.css">
    <h1>
        Codeial / Profile page
    </h1>

<table border="1">
    <thead>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
    </thead>
        <tr>
            <td> <%= user.name %> </td>
            <td><%= user.email %> </td>
        </tr>

    
</table>

<a href="/users/logout">
    SIGN OUT
</a>