<link rel="stylesheet" href="/css/user_sign_in.css">
<div class="main_sign_in">
    <div class="sign_in_container">
        <h1>SIGN UP</h1>

        <div class="login_form">
            <form action="/users/create" method="post">
                <input
                    type="text"
                    name="name"
                    placeholder="Your Name"
                    required
                />

                <input
                    type="email"
                    name="email"
                    placeholder="Your Email"
                    required
                />

                <input
                    type="password"
                    name="password"
                    placeholder="Your Password"
                    required
                />

                <input
                    type="password"
                    name="confirm_password"
                    placeholder="Confirm Password"
                    required
                />

                <input type="submit" value="Sign Up" class="submit_btn" />
            </form>

            <p><a href="/users/sign-in">Already have an account | Sign In</a></p>

            <p style="display: flex; justify-content: center;">
                
                <a href="/users/auth/google" style="display: flex; align-items: center;">
                    <img src="https://img.icons8.com/color/48/000000/google-logo.png" width="35"/>&nbsp;
                    Google Sign In/ Sign Up</a>
            </p><br>
        </div>
    </div>
</div>
