@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');



$base-color: #1A5DB4;
$text-color: white;
$btn-back: #19529d;
$post-back: #cbe1f670;


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    font-family: 'Nunito', sans-serif;

    // font-weight: 400;
    background-color: #e9ebee;

    #layout-main{
        min-height: 94%;
        width: 96%;
        margin: auto;
        // background-color: red;
    }
}
