@import './layout.scss';
.profile_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3vh;
    height: 49vh;

    .avatar{
        display: flex;
        border-radius: 50%;
        padding: 5px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

        img{
            
            width: 200px;
            height: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    }

    .profile_details{
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        width: 50%;
        border-radius: 12px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 25px;
        padding: 10px;

        h3{
            color: $base-color;
            font-weight: bolder;
        }
        p{
            font-size: 21px;
        }
    }
}

.update_form{
    width: 50% !important;
    margin-bottom: 4vh !important;
    margin-top: 7vh !important;
    border-radius: 9px !important;
}