@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #e9ebee;
}

body #layout-main {
  min-height: 94%;
  width: 96%;
  margin: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1A5DB4;
  color: white;
  height: 7.5vh;
  padding: 0 12px;
}

header .logo h1 {
  font-size: 43px;
}

header .logo h1 a {
  color: white;
}

header .logo h1 a i {
  font-size: 38px;
}

header .menu {
  height: 100%;
  width: 22%;
}

header .menu ul {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
}

header .menu ul li {
  color: white;
  list-style: none;
  font-size: 19px;
  padding: 7.8px;
  border-radius: 4px;
}

header .menu ul li a {
  text-decoration: none;
  color: white;
  color: white;
}

header .menu ul li:hover {
  background-color: #19529d;
}
