@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #e9ebee;
}

body #layout-main {
  min-height: 94%;
  width: 96%;
  margin: auto;
}

.textarea {
  display: flex;
  width: 100%;
  border: none;
  resize: none;
  border-radius: 5px;
  padding: 5px;
  background-color: #f0f2f5;
  font-size: 16px;
}

.textarea::placeholder {
  font-size: 18px;
  line-height: 20px;
  padding: 10px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.textarea::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.textarea {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.textarea:focus {
  outline: none;
}

.post-btn {
  background-color: #1A5DB4;
  color: white;
  border: none;
  width: 100px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  margin-top: 3vh;
  cursor: pointer;
}

.post-btn:hover {
  background-color: #19529d;
}

.form_styling {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fa-solid {
  color: #1A5DB4;
}

.feed_head {
  font-size: 39px;
  text-align: center;
  margin: 20px 0;
}

.posts_section {
  margin: 20px 0;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.delete i {
  font-size: 20px;
  color: red;
  transition: all 0.4s ease-in-out;
}

.delete {
  z-index: 0;
  opacity: 0;
  color: red;
  text-align: center;
  transition: all 0.4s ease-in-out;
  margin-right: 9px;
}

.posts_section:hover .delete {
  z-index: 1;
  opacity: 1;
  margin-bottom: 7px;
}

.feed_container {
  width: 70%;
  margin: auto;
  margin-top: 5vh;
}

.feed_container .feed_posts {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.feed_container .feed_posts .item_detail_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feed_container .feed_posts #new-post-form {
  height: 24vh;
  padding: 0 3vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feed_container .post_content {
  font-weight: 900;
  margin: 3vh 0;
  text-transform: uppercase;
  width: 79%;
}

.feed_container .user_name {
  margin-top: 9px;
  margin-bottom: 15px;
}

.feed_container .hello {
  display: flex;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
}

.comment_container {
  margin-top: 10px;
  margin-bottom: 16px;
}
